/* Navigation bar location and color  */

body {
    padding-top: 60px;
    background-color: #222222;
}


/* Hiding some stuff */

.about {
    display:none;
}

#upSuccess,#userExists,#upFailed,#registerSuccess,#outofItems {
    display: none;
}

.registration {
    display: none;
}

/* Modifications of some elements */

audio {
    width: 100%;
}

#hamburger {
    height: 40px;
}

#modebtn {
    height: 35px;
}

.sharebtn {
    width: 30px;
}

#loginbtn, #logoutbtn {
    color: #ebebeb;
}


#loginbtn2, #logoutbtn2 {
    display: block;
}


#successcheckicon, #errorcheckicon {
    right: 10px;
    display:none;
}

#contentArea {
    width: 75%;
    background-color: #383838;
    color: white;
}

#maincontent {
    padding: 0;
    margin: 0;
}

#thePage {
    background-color: #222222;
    padding: 0;
}

/* Search bar styling*/

input[type=search] {
    color: white;

    background: #ededed;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 25px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

@media screen and (min-width: 200px) and (max-width: 419px) {
    input[type=search] {
        width: 10px;
    }

    input[type=search]:focus {
        width: 110px;
    }
}
@media screen and (min-width: 420px) and (max-width: 679px) {
    input[type=search] {
        width: 120px;
    }

    input[type=search]:focus {
        width: 110px;
    }
}
@media screen and (min-width: 680px) {
    input[type=search] {
        width:80px;
    }

    input[type=search]:focus {
        width: 180px;
        background-color: #fff;
        border-color: #6dcff6;

        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);

    }

}

.container-1{
  width: 70px;
  vertical-align: middle;
  white-space: nowrap;
  position: top;
}
#searchBox {
    padding-top: 5px;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #222222;
  }

/* Media comments area style */

.comment-description {
    background-color: rgba(215, 225, 229,0.4);
}
li {
    list-style-type: none;
}

/* cool animation for the nightmode button :D */

.btn-outline {
    background-color: transparent;
    color: white;
    transition: all .5s;
}

.btn-outline:hover {
    transition: all .5s;
    color: white;
    background-color: transparent;
}


/*
Below is code to adjust the width when navigation bar collapses and
hamburger menu appears.
*/


@media (max-width: 767px) {

    #loginbtn2, #logoutbtn2 {
    display: none;
    }
    
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


/* thumbnail gallery styling */

#gallery {
    padding: 0;
    margin: auto;
    line-height: 0;
    max-width: 992px;
}

.mediaitemWrapper {
    width: 100%;
    padding: 0.5%;
    margin: 0;
    display: inline-block;
}

.mediaitem {
    width: 100%;
    padding-bottom: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    position: relative;
}

.mediaitem .img-thumbnail {
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.leveler {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.elementLabel {
}

.tnTitle {
    width: 100%;
    position: absolute;
    top: 0;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

.tnInfo {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
}

.tnBadge {
    vertical-align: middle;
    display: inline-block;
    line-height: 0;
}

.tnBadge span.glyphicon {
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .mediaitemWrapper {
        width: 50%;
        height: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .mediaitemWrapper {
        width: 33%;
        height: 33%;
    }
}

@media screen and (min-width: 992px) {
    .mediaitemWrapper {
        width: 25%;
        height: 25%;
    }
}
