<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Compatible" content="text/html;charset=ISO-8859-1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TotalMedia</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body ng-app="theApp" ng-controller="ContentController as content">

    <!-- Direct the modals -->
    <login-modal> </login-modal>
    <upload-modal> </upload-modal>

    <div class="container-fluid" id="thePage" watch-height>
        <div class="container" id="maincontent">

            <!-- Navigation bar start-->
            <navbar></navbar>
            <!--Navigation end -->
            <!-- Alerts -->
            <div class="alert alert-success fade in " data-dismiss="alert" id="upSuccess">
                <strong>Upload successful!</strong>
            </div>

            <div class="alert alert-success fade in " data-dismiss="alert" id="registerSuccess">
                <strong>User created!</strong> You will be automatically logged in!
            </div>

            <div class="alert alert-info fade in navbar-fixed-top" data-dismiss="alert" id="outofItems">
                <strong>There are no more items!</strong> Check for new content later!
            </div>

            <!-- Start of the content container-->
            <div class="container" id="gallery">
                <mediaitems-row ng-repeat="mediarow in gallery | filter: searchBar | limitTo: 20"></mediaitems-row>
                <div class="row about" id="aboutrow">
                    <button class="btn btn-primary about" ng-click="showMediaitems()">Back to gallery </button>
                    <div class="col-md-12" id="about">

                    </div>

                </div>
            </div>
            <button add-row>add row</button>
        </div>
    </div>

    <!-- Include angular files & plugins -->
    <script src="../bower_components/angular/angular.js"></script>

    <!-- Include angular ui bootstrap -->
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/plugins/jquery.bootstrap-autohidingnavbar.js"></script>

    <!-- Include My App's JS file(s)-->
    <script src="scripts/script.js"></script>

    <!-- Controllers -->
    <script src="scripts/controllers/ContentController.js"></script>
    <script src="scripts/controllers/LoginController.js"></script>
    <script src="scripts/controllers/UploadController.js"></script>
    <script src="scripts/controllers/ModalInstanceController.js"></script>

    <!-- Directives -->
    <script src="scripts/directives/scrollDetector.js"></script>
    <script src="scripts/directives/uploadModal.js"></script>
    <script src="scripts/directives/loginModal.js"></script>
    <script src="scripts/directives/mediaitem.js"></script>
    <script src="scripts/directives/myModalContent.js"></script>
    <script src="scripts/directives/navbar.js"></script>
    <script src="scripts/directives/mediaitemsRow.js"></script>
    <script src="scripts/directives/user.js"></script>
    <script src="scripts/directives/addRow.js"></script>

</body>

</html>
