<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TotalMedia</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">

</head>

<body ng-app="theApp" scroll-detector>
    <div class="container-fluid header" id="thePage">
        <div class="container" ng-controller="contentCtrl as content" id="contentArea">

            <!-- Navigation bar start-->
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top " id="navi" ng-hide="hideNav">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="hamburger">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                         
                        <button type="button" class="btn btn-default btn-outline navbar-toggle" id="modebtn"> 
                          <span class="glyphicon glyphicon-adjust" > </span>
                        </button>
                        <a class="navbar-brand" href="#">TotalMedia</a>
                        <p id="loggedin"></p>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a><input type="text" placeholder="Search.."></a></li>
                            <li><a href="#" id="uploadbtn">Upload</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#" id="loginbtn">Sign in/register<span class="sr-only">(current)</span></a></li>
                            <li class="active"><a href="#" id="logoutbtn">Logout<span class="sr-only">(current)</span></a></li>
                            <li><a href="#">About TotalMedia</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </nav>
            <!--Navigation end -->
            <!-- Alerts -->
            <div class="alert alert-success fade in " data-dismiss="alert" id="upSuccess">
              <strong>Upload successful!</strong> 
            </div>

            <div class="alert alert-danger fade in " data-dismiss="alert" id="upFailed">
              <strong>Upload failed!</strong> Please check that all the inputs are proper. 
            </div>

            <div class="alert alert-success fade in " data-dismiss="alert" id="registerSuccess">
              <strong>User created!</strong> You are now logged in!
            </div>

            <div class="alert alert-info fade in navbar-fixed-top" data-dismiss="alert" id="outofpics">
              <strong>There are no more pictures!</strong> Check for new content later!
            </div>
          <!-- Start of the content container-->
          <div class="container-fluid" >
            <div class="container" id="contentArea">
              <div class="row " id="contentsrow">

                 <strong ng-model="gallerySize"> Gallery size:{{ gallerySize }}</strong>
                <div class="col-md-12" id="contents" ng-repeat="pic in images track by $index" >
                  <div ng-if="pic.type == 'image'">
                    <img ng-src="{{ pic.path }}" width="100%" height="100%">
                   
                    <p> {{$index +1}}. {{ pic.title }}</p>
                    <p>uploader: {{pic.uploader}} </p>
                  </div>
                  <div ng-if="pic-type == 'video'">
                    <video width='100%' height='100%' controls>
                     <source ng-src='{{ pic.path }}' type='{{ pic.type }}'>
                    </video>
                    <p>{{$index +1}}. {{ pic.title }}</p>
                    <p>uploader: {{pic.uploader}} </p>
                  </div>
                  <div ng-if="pic-type == 'audio'">
                    <audio controls> 
                     <source ng-src='{{ pic.path }}' type='{{ pic.type }}' >
                    </audio>
                    <p> {{$index +1}}. {{ pic.title }}</p>
                    <p>uploader: {{pic.uploader}} </p>
                  </div>
                </div>


                <button type="button" class="btn btn-primary btn-block container-fluid" ng-click="showMore()" id="showMore">Show 10 more images </button><br>
              </div>
            </div>
          </div>
        </div>

    </div>

    <!-- Direct the modals -->
    <login-Modal> </login-Modal>
    <upload-Modal> </upload-Modal>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Include angular files & plugins -->
    <script src="../bower_components/angular/angular.js"></script>

    <!-- Include My App's JS file(s)-->
    <script src="scripts/script.js"></script>

     <!-- Controllers -->
    <script src="scripts/controllers/contentController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/controllers/uploadController.js"></script>

    <!-- Directives -->
    <script src="scripts/directives/scrollDetector.js"></script>
    <script src="scripts/directives/uploadModal.js"></script>
    <script src="scripts/directives/loginModal.js"></script>


</body>

</html>
