$brand-basecolor: #1a78aa;
$brand-basetext: #ffffff;
$base-background: #ffffff;
$base-textcolor: black;
$base-background: white;
$black: black;
$gray: gray;

$default-text-color: $base-textcolor !default;
