<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="LoginController">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title login" id="myModalLabel">Sign in</h4>
        <h4 class="modal-title registration" id="myModalLabel">Register user</h4>
      </div>
      <div class="modal-body">
        <div id="login" class="login">
           <form id="loginForm">
             <input class="loginputs" type="text" name="username"  id="lusername" placeholder="Username" ng-model="username" ng-change="disabled()" ><br>
             <input class="loginputs center-block" type="password" name="password" id="lpassword" ng-model="password" ng-change="disabled()" placeholder="Password"><br>
          </form>
        </div>
         <div id="register" class="registration">
           <form id="registerForm">
             <input class="reginputs" type="text" name="username" placeholder="Username" id="rusername" ><br>
             <input class="reginputs" type="password" name="password" placeholder="Password" id="rpassword"><br>
             <input class="reginputs" type="text" name="email" placeholder="E-mail address" id="remail">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="login pull-left" id="regislink" ng-click="hideRegis()"> Don't have an account yet? Click here to register! </a>
        <a href="#" class="registration pull-left" id="loginlink" ng-click="hideRegis()"> Already have an account? Sign in here! </a>
        <button id="registerbtn" class="btn btn-default registration" ng-click="registerUser()" data-dismiss="modal">Register</button>
        <button id="signinbtn" class="btn btn-default login" ng-click="signIn()" data-dismiss="modal" ng-disabled="buttondisabled" >Sign in</button>
      </div>
    </div>
  </div>
</div>
