<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="LoginController">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title login" id="myModalLabel">Sign in</h4>
        <h4 class="modal-title registration" id="myModalLabel">Register user</h4>
      </div>
      <div class="modal-body">
        <div id="login" class="login">
          <form id="loginForm" >
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10" id="loginFormInputs">
              <input class="loginputs form-control" type="text" name="username" placeholder="Username" id="lusername" ng-model="lusername" ng-change="loginDisabled()" autocomplete="off" autocorrect="off" autocapitalize="off">
            </div>
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
               <input class="loginputs form-control" type="password" name="password" placeholder="Password" id="lpassword" ng-model="lpassword" ng-change="loginDisabled()">
            </div>

          </form>
        </div>
         <div id="register" class="registration">
           <form id="registerForm">
           <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10" id="userRegistration" >
              <input class="reginputs form-control" type="text" name="username" placeholder="Username" id="rusername" ng-model="rusername" ng-change="registerDisabled()" autocomplete="off" autocorrect="off" autocapitalize="off">
            <span id="checkicon" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-hide="registerUserFound"></span>
            <span id="inputSuccess2Status" class="sr-only">(success)</span>
            <span id="checkicon" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="registerUserFound"></span>
            <span id="inputError2Status" class="sr-only">(error)</span>
            </div>
             <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10" >
              <input class="reginputs form-control" type="password" name="password" placeholder="Password" id="rpassword" ng-model="rpassword" ng-change="registerDisabled()">
            </div>
             <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10" >
              <input class="reginputs form-control" type="text" name="email" placeholder="E-mail address" id="remail" ng-model="remail" ng-change="registerDisabled()" autocorrect="off" autocapitalize="off">
            </div>
          </form><br>

            <div class="alert alert-danger fade in " id="userExists">
                <strong>Username already exists!</strong> Please choose another username.
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="login pull-left" id="regislink" ng-click="hideRegis()"> Don't have an account yet? Click here to register! </a>
        <a href="#" class="registration pull-left" id="loginlink" ng-click="hideRegis()"> Already have an account? Sign in here! </a>
        <button id="registerbtn" class="btn btn-default registration" ng-click="registerUser()" ng-disabled="rbuttondisabled" >Register</button>
        <button id="signinbtn" class="btn btn-default login" ng-click="signIn()" data-dismiss="modal" ng-disabled="lbuttondisabled" >Sign in</button>

      </div>
    </div>
  </div>
</div>
