<div>
    <div class="modal-header">
        <h3 class="modal-title">{{ item.title }} by {{ users[item.userId -1].username }}</h3>
    </div>
    <div class="modal-body">

        <!-- media -->
        <div ng-if="item.type === 'image'">
            <img ng-src="{{ item.path }}" class="img-responsive">
        </div>
        <div ng-if="item.type === 'video'">
            <video controls>
                <source ng-src="{{ trustSrc(item.path) }}" />
            </video>
        </div>
        <div ng-if="item.type === 'audio'">
            <audio controls>
                <source ng-src='{{ trustSrc(item.path) }}' type='{{ item.mimeType }}' />
            </audio>
        </div>

        <!-- comments -->
        <h4> {{description}} </h4>

        <h1> Comments </h1>
        <br>
        <h3 ng-show="userLogged">Type a comment: </h3>
       <textarea id="typeComment" style="width:300px; height:100px;" ng-model="comment" ng-show="userLogged" ng-change="postCommentDisabled()" maxlength="140"> </textarea> 
       <button type="submit" ng-click="postComment()" class="btn btn-default" ng-show="userLogged" ng-disabled="commentbuttondisabled">Send</button> <br>
        
       <ul>
         <div id="comments" ng-repeat="comment in comments">   
          <li>
           <div class="comment-index">
            <p> {{$index +1}}. </p>
           </div>
           <div class="comment-description">
            <p> {{comment.comment}} </p>
           </div>
           <div class="comment-uploader">
            <span style="font-size:10px;">[{{comment.time}}]</span> by user: {{comment.username}}
           </div>
         </div>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Back to gallery</button>
    </div>
</div>
