<div>
    <div class="modal-header">
        <h3 class="modal-title">{{ pic.title }} by {{ pic.uploader }}</h3>
    </div>
    <div class="modal-body">
        <img ng-src="{{ pic.path }}" width="100%" height="100%"> </a>
        <h3 align="center"> {{description}} </h3>

        <h3 ng-show="userLogged">Type a comment (2-140): </h3>
        <textarea id="typeComment" style="width:300px; height:100px;" ng-model="comment" ng-show="userLogged" ng-change="postCommentDisabled()" maxlength="140"> </textarea> 
         <button type="submit" ng-click="postComment()" class="btn btn-default" ng-show="userLogged" ng-disabled="commentbuttondisabled">Send</button> <br>
        <ul>
         <div id="comments" ng-repeat="comment in comments">   
          <li>
           <div class="comment-index">
            <p> {{$index +1}}. </p>
           </div>
           <div class="comment-description">
            <p> {{comment.comment}} </p>
           </div>
           <div class="comment-uploader">
            <span style="font-size:10px;">[{{comment.time}}]</span> by user: {{comment.username}}
           </div>
         </div>
        </ul>

        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Back to gallery</button>
    </div>
</div>
