<div class="col-md-12" id="{{pic}}">
    <div ng-if="pic.type == 'image'">
        <a href="#" ng-click='showModal(pic)'>
            <img ng-src="{{pic.large}}" width="100%" height="100%">
        </a>
        <p> {{$index +1}}. {{ pic.title }}</p>
        <p>uploader: {{pic.uploader}} </p>
    </div>
    <div ng-if="pic.type == 'video'">
        <video width='100%' height='100%' controls>
            <source ng-src='{{ trustSrc(pic.path) }}' type='{{ pic.mimeType }}'>
        </video>
        <p>{{$index +1}}. {{ pic.title }}</p>
        <p>uploader: {{pic.uploader}} </p>
    </div>
    <div ng-if="pic.type == 'audio'">
        <audio controls>
            <source ng-src='{{ trustSrc(pic.path) }}' type='{{ pic.mimeType }}'>
        </audio>
        <p> {{$index +1}}. {{ pic.title }}</p>
        <p>uploader: {{pic.uploader}} </p>
    </div>
</div>
