<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mediaitemWrapper" ng-repeat="mediaitem in gallery[$index] ">
        <mediaitem></mediaitem>
    </div>
    <!--div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <mediaitem rowindex="{{$index}}" itemindex="1"></mediaitem>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <mediaitem rowindex="{{$index}}" itemindex="2"></mediaitem>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <mediaitem rowindex="{{$index}}" itemindex="3"></mediaitem>
    </div-->
</div>
