<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topNavigation">
    <div class="container-fluid">

        <div class="navbar-header pull-left">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-click="goHome()" href="#">
                        <img src="images/tmlogo.png" height="100%">
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-header pull-left">
            <ul class="nav">
                <li><a href="#" id="uploadbtn" ng-if="userLogged" ng-click="uploadModal()">Upload</a></li>
            </ul>

        </div>

        <div class="navbar-header pull-right">
            <ul class="nav">

                <!-- User menu -->
                <li class="dropdown pull-right" ng-if="userLogged">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a>Logged in as: {{ loggedUser }}</a></li>
                        <li>
                            <a href="#/" ng-click="mySubmissions()">My Submissions</a>
                        </li>
                        <li>
                            <a href="#/" ng-click="userLogout()" id="logoutbtn">
                                <span class="glyphicon glyphicon-log-out"> </span> Logout
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="pull-right" ng-if="!userLogged">
                    <a href="#/" id="loginbtn2" ng-click="loginModal()">
                        <span class="glyphicon glyphicon-log-in"> </span> Login
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <!-- search -->
                <li class="pull-right">
                    <form class="navbar-form navbar-right pull-right" role="search">
                        <div class="form-group">
                            <input type="search" id="search" ng-focus="focusSearch()" ng-blur="blurSearch()" placeholder="Search.." ng-model="searchBar">
                        </div>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>
