<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" id="navi">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="hamburger">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- <button type="button" class="btn btn-default btn-outline navbar-toggle" id="modebtn">
                         <span class="glyphicon glyphicon-adjust"> </span>
                         </button>
                         -->

            <button type="button" id="signinbtn" class="btn btn-default btn-outline navbar-toggle">

                <a href="#" id="loginbtn" ng-hide="userLogged" ng-click="loginModal()">
                <span class="glyphicon glyphicon-log-in"> </span> Login
                <span class="sr-only">(current)</span></a>
                <a href="#" id="logoutbtn" ng-show="userLogged" ng-click="userLogout()">Logout<span class="sr-only">(current)</span></a>

            </button>
            <a class="navbar-brand" ng-click="showTen()" href="">TM</a>
            <a class="navbar-brand">
                <div class="box">
              <div class="container-1">
                  <span class="icon"><i class="fa fa-search"></i></span>
                  <input type="search" id="search" ng-focus="focusSearch()" ng-blur="blurSearch()" placeholder="Search.." ng-model="searchBar">
              </div>
             </div>
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#" id="uploadbtn" ng-show="userLogged" ng-click="uploadModal()">Upload</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"></li>
                <li><a href="#" id="loginbtn" ng-hide="userLogged" ng-click="loginModal()"><span class="glyphicon glyphicon-log-in"> </span> Login
                <span class="sr-only">(current)</span></a></li>
                <li><a href="#" id="logoutbtn" ng-show="userLogged" ng-click="userLogout()">Logout<span class="sr-only">(current)</span></a> </li>
                
                <li><a href="#" ng-click="aboutPage()">About TotalMedia</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
