<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="topNavigation">
    <div class="container-fluid">
        <!-- Title -->
        <div class="navbar-header pull-left">

            <!-- Required bootstrap placeholder for the collapsed menu -->
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-click="goHome()" href="#">
                        <img src="images/tmlogo.png" height="100%">
                    </a>
                </div>
            </div>

        </div>


        <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
        <div class="navbar-header pull-right">
            <ul class="nav">

                <!-- User menu -->
                <li class="dropdown pull-right" ng-if="userLogged">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/" ng-click="mySubmissions()">My Submissions</a>
                        </li>
                        <li>
                            <button type="button" id="logoutbtn" ng-click="userLogout()" class="btn btn-default btn-outline">
                                <a href="#/" id="logoutbtn">
                                    <span class="glyphicon glyphicon-log-out"> </span> Logout
                                    <span class="sr-only">(current)</span>
                                </a>
                            </button>
                        </li>
                    </ul>
                </li>

                <li class="pull-right" ng-if="!userLogged">
                    <a href="#/" id="loginbtn2" ng-click="loginModal()">
                        <span class="glyphicon glyphicon-log-in"> </span> Login
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <!-- search -->
                <li class="pull-right">
                    <form class="navbar-form navbar-right pull-right" role="search">
                        <div class="form-group">
                            <input type="search" id="search" ng-focus="focusSearch()" ng-blur="blurSearch()" placeholder="Search.." ng-model="searchBar">
                        </div>
                    </form>
                </li>
            </ul>

        </div>

        <!-- The Collapsing items            navbar-left or navbar-right -->
        <div class="collapse navbar-collapse navbar-left">
            <!--                      pull-right keeps the drop-down in line -->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/">Setting 1</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/news">About</a></li>
            </ul>
        </div>

        <!-- Additional navbar items -->
        <div class="collapse navbar-collapse navbar-right">
            <!--                      pull-right keeps the drop-down in line -->
            <!--<ul class="nav navbar-nav pull-right">
                <li><a href="/locator">Locator</a></li>
                <li><a href="/extras">Extras</a></li>
            </ul>-->
        </div>

        <!--    <div class="navbar-header navbar-brand">
         Brand logo
        <a ng-click="goHome()" href="#">
            <img src="images/tmlogo.png" height="100%">
        </a>
    </div>-->

        <!--    <div class="navbar-collapse collapse">
        // left side of navigation
        <ul class="nav navbar-nav navbar-left">
            <li>
                <div id="loginbtnContainer">

                    <button type="button" id="signinbtn" ng-hide="userLogged" ng-click="loginModal()" class="btn btn-default btn-outline navbar-toggle">
                        <a href="#/" id="loginbtn">
                            <span class="glyphicon glyphicon-log-in"> </span> Login
                            <span class="sr-only">(current)</span>
                        </a>
                    </button>

                    <button type="button" id="logoutbtn" ng-show="userLogged" ng-click="userLogout()" class="btn btn-default btn-outline navbar-toggle">
                        <a href="#/" id="logoutbtn">
                            <span class="glyphicon glyphicon-log-out"> </span> Logout
                            <span class="sr-only">(current)</span>
                        </a>
                    </button>

                </div>
            </li>
        </ul>
    </div>-->
        <!--<li>
                <a href="#" id="loginbtn2" ng-hide="userLogged" ng-click="loginModal()">
                    <span class="glyphicon glyphicon-log-in"> </span> Login
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li ng-show="userLogged">
                <a href="#" ng-click="mySubmissions()">Your Submissions</a>
            </li>
            <li><a href="#" id="uploadbtn" ng-show="userLogged" ng-click="uploadModal()">Upload</a></li>-->
    </div>
</nav>
